# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/

# Uploads (important for your project)
uploads/
images/

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Optional: package-lock (if you want)
# package-lock.json